body {
    background-color:  rgb(43, 43, 78)
}

/* .test {
    color: red;
} */

.blog {
    position: absolute;
    left: 35%;
    top:15%;
    width: 30%;
    height: 70%;
    color: red;
    background-color: grey;
}

img {
    border-radius: 60%;
    width: 5%;
    height: 8%;
    position: absolute;
    left: 36%;
    top: 17%;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 42%;
    top: 18%;
    gap: 1px;
}

.summary {
    position: absolute;
    left: 44%;
    top: 27%;
    font-weight: 500;
    font-size: 28px
}

.blogContent { 
    position: absolute;
    left: 40%;
    top: 35%;
    line-height: 28px;

}